*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gif {
    height: 50%;
    width: 50%;
}

.btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    }

button {
        position: absolute;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 12px;
        background-color: #FF85A2; /* Pastel green */
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
button:hover {
        background-color: #FF85A2; /* Darker green on hover */
    }

button:nth-child(1) {
        margin-left: -200px;
        background: #FF85A2;
        }
    
button:nth-child(2) {
        margin-right: -200px;
        background: white;
        color: #FF85A2;
        }

/* Audio Player Styles */
#bg-music {
    display: none; /* Hide the audio player */
}

/* Top-right Position Styles */
.top-right {
    position: absolute;
    top: 5px;
    right: 80px;
}

/* Play/Pause Button Icon Styles */
.play-pause-btn {
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.play-pause-btn:hover {
    color: #FFEBF0; /* Pastel green */
}

.icon {
    font-size: 20px;
}
